{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'learning/base.css' %}">
    <script src="https://kit.fontawesome.com/a02dc54326.js" crossorigin="anonymous"></script>

    {% if title %}
      <title>Technical Resources - {{title}}</title>
    {% else %}
      <title>Technical Resources</title>
    {% endif %}
  </head>
  <body>
    <!-- header -->
    {% include 'learning/navbar.html' %}
    <!-- header -->

    {% block home %}
    {% endblock home %}
    
    <!-- main content -->
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>
    <!-- main content -->

    <!-- connect section -->
    <div class="container-fluid">
      <hr class="my-4">
      <div class="row text-center">
        <div class="col-12">
          <h2>Connect</h2>
        </div>
        <div class="col-12 social">
          <a href="https://github.com/pavan-bash"><i class="fab fa-github-square"></i></a>
          <a href="https://www.linkedin.com/in/pavan-kumar-996a53198/"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <hr class="my-4">
    </div>
    <!-- connect section -->

    <button title="Scroll to Top" class="btn btn-success" onclick="topFunction()" id="scrollTopBtn" style="display: block; opacity: 1;" type="button">▲</button>

    <!-- footer -->
    {% include 'learning/footer.html' %}
    <!-- footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- scroll button script -->
    <script>
    var mybutton = document.getElementById("scrollTopBtn");
    window.onscroll = function() { scrollFunction() };
    function scrollFunction() {
      if(document.body.scrollTop>20 || document.documentElement.scrollTop>20) {
        mybutton.style.display = "block";
      } 
      else {
        mybutton.style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
    <!-- scroll button script -->
  </body>
</html>