{% extends 'learning/base.html' %}
{% block content %}
<br>
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<div class="col-xl-12 d-flex">
			    <div class="card text-white bg-success mb-5 mx-auto">
			        <img src="{{course.pic.url}}" class="card-img-top img-fluid">
			        <div class="card-body text-center">
			            <h5 class="card-title text-white">{{course.name}}</h5>
			            <h5 class="card-sub-title text-white">{{course.domain}}</h5>
			            <p class="card-text">{{course.desc}}</p>
			        </div>
			    </div>
			</div>
			<div class="text-center">
				<input class="btn btn-info" type="submit" name="submit" value="Enroll">
				<a class="btn btn-info" href="{% url 'course' course.domain.id %}">Cancel</a>
			</div>
		</fieldset>
	</form>


{% endblock content %}