<footer class="page-footer font-small pt-4">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-4">
        <h1>TECHNICAL<br>RESOURCES</h1>
        <hr class="light">
        <h6>A COMPUTER SCIENCE PLATFORM</h6>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Website</h5>
        <hr class="light">
        <small><a href="#">Source Code</a></small><br>
        <small><a href="{% url 'about' %}">About Us</a></small><br>
        <small><a href="#"></a></small>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Website</h5>
        <hr class="light">
        <small><a href="{% url 'blog' %}">Blog</a></small><br>
        <small><a href="{% url 'all_courses' %}">All Courses</a></small><br>
        <small><a href="#"></a></small>
      </div>
      <hr class="light-diff">
    </div>

    <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="{% url 'home' %}">&nbsp; www.techsource.live</a>
      </div>
    <!-- Copyright -->
  </div>
</footer>