@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  background: #fafafa;
  margin-top: 2.1rem;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.card:hover, .media:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.navbar {
  margin-bottom: 0px;
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 15px;
}

.nav-link {
  font-size: 1.1em !important;
}

#scrollTopBtn {
  display: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 40px;
  z-index: 10;
  bottom: 40px;
  background-color: rgb(153, 153, 153);
  color: #fff;
  cursor: pointer;
} 

#scrollTopBtn:hover {
  background-color: #555;
}

small a {
  color: #bbb;
}

.social a {
  font-size: 3em;
  padding: 2rem;
}

.social_share {
  font-size: 2em;
}

.fa-github-square {
  color: #000;
}

.fa-google-plus-g {
  color: #dd4b39;
}

.fa-linkedin {
  color: #2867b2;
}

.fa-github-square:hover, .fa-google-plus-g:hover, .fa-linkedin:hover {
  color: #d5d5d5;
} 

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

hr.light-diff {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #2867b2;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
